{
    "IsEncrypted": false,
    "Values": {
        "FUNCTIONS_WORKER_RUNTIME": "python",
        "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "AZURE_OPENAI_ENDPOINT": "endpoint_value",
        "AZURE_OPENAI_API_KEY": "api_key_value",
        "PYTHONPATH": "."
    }
}
